/* ======== Typography ======== */
@font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue-Regular.otf'); /* IE9 Compat Modes */
  src: url('fonts/BebasNeue-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BebasNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@bebas: 'Bebas';
@gotham: 'Gotham A', 'Gotham B';

h1, h2, h3, h4, h5, h6{
	font-family: @bebas;
}
.gray-text{
	color: #808184 !important;
}
.light-gray-text{
	color: #c7cbd1 !important;
}
.small-text{
	font-size: 12px !important;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: 500;
	padding-bottom: 5px;
}
.large-text{
	font-size: 32px;
	line-height: 36px;
	font-weight: 400;
}
.medium{
	font-family: @gotham !important;
	font-weight: 500 !important;
	letter-spacing: .1em;
}
.more-link{
	font-size: 12px;
	font-family: @gotham;
	font-weight: 500;
	letter-spacing: .1em;
	line-height: 20px;
	text-decoration: none;
	color: #808184;
	text-transform: uppercase;
	transition: color .25s;
	display: inline-block;
	border-bottom: 2px solid #808184;
	padding-bottom: 0px;
	&:hover{
		color: black;
		text-decoration: none;
	}
}
.page-title{
	position: relative;
	padding-top: 100px;
	text-align: center;
}

/* ======== Global Settings ======== */
html, body{
	font-family: @gotham;
	font-weight: 400;
	font-size: 20px;
	line-height: 36px;
	font-style: normal;
}
.site-wrapper{
	position: relative;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.owl-nav{
	display: none !important;
}
.custom-nav{
	position: absolute;
	width: 100%;
	height: 24px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2 !important;
	@media(max-width:991px){
		width: 90%;
		top: 30px;
		left: 52%;
		transform: translate(-50%,0);
	}
	.next{
		position: absolute;
		right: 30px;
		&:hover{
			cursor: pointer;
		}
	}
	.prev{
		position: absolute;
		left: 0px;
		&:hover{
			cursor: pointer;
		}
	}
}
.dark-btn{
	height: auto;
	width: auto;
	padding: 5px 0px;
	display: inline-block;
	color: white;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
	font-size: 16px;
	font-family: @gotham;
	font-weight: 600;
	background: #808184;
	transition: all .35s;
	border: none;
	&:hover{
		background: black;
	}
}

.clear-btn{
	position: relative;
	width: auto;
	height: auto;
	padding: 10px 45px;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: black;
	border: 1px solid black;
	text-align: center;
	transition: all .35s;
	background-color: transparent;
	&:hover{
		background-color: black;
		color: white;
	}
}

.button-container{
   position: relative;
   width: 100vw;
   height: auto;
   padding: 0px 15px 0px 15px;
	margin-top: 50px;

	.dark-btn{
		@media(max-width:767px){
			display: block;
			width: 100%;
			margin-top: 15px;
		}
	}
}
.back-link{
	font-family: @gotham;
	font-size: 12px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #808184;
	transition: color .35s;
	&:hover{
		color: black;
	}
	.fas{
		margin-right: 5px;
	}
}
.pull-up{
	position: relative;
	margin-top: -115px !important;
}
.pad-top-60{
	padding-top: 60px !important;
}
/* ===== Header Section ===== */
.nav-container{
	position: relative;
	display: block;
	top: 0px;
	width: 100%;
	height: auto;
	transition: all .3s;
	background: white;
	padding: 30px 0px;
	z-index: 9;
	border-bottom: 1px solid #dfe4eb;
	@media(max-width:767px){
		padding: 15px 0px;
	}
	.head-logo{
		@media(max-width:991px){
			position: relative;
			display: block;
			margin: 0 auto;
		}
	}
	.right-section{
		height: auto;
		width: 100%;
		text-transform: uppercase;
		padding: 0 15px;
		font-size: 16px;
		a{
			font-family: @gotham;
			letter-spacing: .05em;
			font-style: normal;
			@media(max-width:767px){
				color: black;
			}
		}
		.top-right{
			padding: 10px 10px 0px 10px;
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					@media(max-width:767px){
						font-size: 14px;
					}
				}
				a{
					color: black;
				}
				.medium{
					letter-spacing: 0px;
				}
				.social{
					position: relative;
					width: auto;
					height: auto;
					margin-left: 55px;
					a{
						font-size: 18px;
						margin-right: 15px;
						position: relative; 
						text-decoration: none;
						top: 3px;
						color: black;
						@media(max-width:767px){
							top: 0px;
						}
						&:last-child{
							margin-right: 0px;
						}
					}
					&:before{
						content: '';
						position: absolute;
						left: -30px;
						height: 30px;
						width: 1px;
						background: #c7cbd1;
					}
				}
			}
		}
		.lower-right{
			text-align: right;
			text-transform: uppercase;
			padding-top: 35px;
			padding-right: 10px;
			@media(max-width:991px){
				padding-top: 0px;
			}
			a{
				color: black;
				letter-spacing: .05em;
				text-decoration: none;
				transition: all .15s;
				@media(min-width:992px) and (max-width:1380px){
					letter-spacing: .05em;
					font-size: 16px;
				}
				&:hover{
					border-bottom: 5px solid black;
				}
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					margin-right: 25px;
					@media(min-width: 1606px){
						margin-right: 55px;
					}
					@media(min-width:992px) and (max-width:1199px){
						margin-right: 15px;
					}
					&:last-child{
						margin-right: 0px;
					}
					&:hover{
						.sub-nav{
							display: block;
						}
					}
				}
			}
		}
	}
	.social-section{
		@media(min-width:992px){
			display: none;
		}
		@media(max-width:991px){
			position: absolute;
			bottom: -55px;
			height: 55px;
			width: 100%;
			padding: 12px 15px;
			background-color: rgba(255,255,255,0.6);
		}
		@media(max-width:767px){
			height: 40px;
			bottom: -40px;
			padding: 2px 10px;
		}
		.top-right{
			font-size: 22px;
			text-align: center;
			font-weight: 900;
			@media(max-width:767px){
				font-size: 13px;
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					@media(max-width:767px){
						font-size: 14px;
					}
				}
				a{
					color: black;
					text-transform: uppercase;
					letter-spacing: .05em;
				}
				.medium{
					letter-spacing: 0px;
				}
				.social{
					position: relative;
					width: auto;
					height: auto;
					margin-left: 55px;
					@media(max-width:767px){
						margin-left: 35px;
					}
					a{
						font-size: 24px;
						margin-right: 15px;
						position: relative; 
						text-decoration: none;
						top: 1px;
						color: black;
						@media(max-width:767px){
							top: 2px;
							font-size: 18px;
						}
						&:last-child{
							margin-right: 0px;
						}
					}
					&:before{
						content: '';
						position: absolute;
						left: -30px;
						height: 30px;
						width: 3px;
						background: #808184;
						@media(max-width:767px){
							height: 20px;
							left: -23px;
							top: 8px;
						}
					}
				}
			}
		}
	}
	
}

.nav-up{
	position: fixed;
	animation: navUp .35s ease-in-out forwards;
}
@keyframes navUp {
	0% {top: 0px;}
	100%{top: -200px;}
}
.nav-down{
	position: fixed;
	animation: navDown .35s ease-in-out forwards;
}
@keyframes navDown {
	0% {top: -200px;}
	100%{top: 0px;}
}
.sticky-nav-container{
	position: fixed;
	top: -200px;
	left: 0px;
	width: 100%;
	height: 75px;
	background-color: rgba(255,255,255,.9);
	z-index: 9;
	@media(max-width:767px){
		height: auto;
	}
	.nav-container{
		padding: 10px 15px;
		background: none;
		height: auto;
		border-bottom: none;
		@media(max-width:767px){
			padding: 20px 15px;
		}
		.sticky-logo{
			position: relative;
			width: auto;
			height: 50px;
			margin: 0 auto;
			@media(max-width:767px){
				height: auto;
				max-width: 100%;
				display: block;
			}
		}
		.mobi-nav{
			position: relative;
			width: 100%;
			min-height: 65px;
			text-align: center;
			z-index: 99 !important;
			@media(min-width:992px){
				display: none;
			}
		}
		ul{
			padding: 12px 0px;
			list-style: none;
			text-align: right;
			font-size: 16px;
			@media(min-width:992px) and (max-width:1035px){
				font-size: 14px;
			}
			li{
				display: inline-block;
				margin-right: 60px;
				text-transform: uppercase;
				@media(min-width:1200px) and (max-width:1576px){
					margin-right: 20px;
				}
				@media(min-width:992px) and (max-width:1199px){
					margin-right: 40px;
					&:last-child{
						margin-right: 0px;
					}
				}
				@media(min-width:768px) and (max-width:991px){
					margin-right: 20px;
					&:last-child{
						margin-right: 0px;
					}
				}
			}
			a{
				color: black;
				text-decoration: none;
				transition: all .15s;
				&:hover{
					border-bottom: 5px solid black;
				}
			}
		}
	}
}

.mobi-menu{
	position: fixed;
	left: 0px;
	height: 80%;
	width: 100vw;
	background: white;
	z-index: 98 !important;
	text-align: center;
	padding-top: 20px;
	display: none;
	overflow: auto;
	border-top: 1px solid black;
	.mobi-link-container{
		position: relative;
		height: auto;
		padding-bottom: 0px;
		padding-top: 10px;
		width: 100%;
		&:after{
			content: '';
			position: relative;
			height: 50px;
			width: 100px;
		}
		p{

			padding-bottom: 25px;
			padding-top: 5px;
			margin-top: 0px;
			line-height: 0px;
			font-size: 18px;
		}
	}
	a{
		letter-spacing: .05em;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
	}
}
.mobi-nav{
	position: relative;
	width: 100%;
	min-height: 65px;
	text-align: center;
	z-index: 99 !important;
	@media(min-width:992px){
		display: none;
	}
	.menu-btn-container{
		position: relative;
		height: auto;
		width: auto;
		display: block;
		top: 15px;
		right: 25px;
		z-index: 5 !important;
		@media(max-width:767px){
			top: -7px;
		}
		p{
			position: absolute;
			color: black;
			text-transform: uppercase;
			font-family: @gotham;
			letter-spacing: .05em;
			left: -3px;
			font-size: 16px;

		}
		.top-bar{
			position: relative;
			height: 5px;
			width: 40px;
			background: black;
			margin-top: 0px;
		}
		.mid-bar{
			position: relative;
			height: 5px;
			width: 40px;
			background: black;
			margin-top: 5px;
		}
		.low-bar{
			position: relative;
			height: 5px;
			width: 40px;
			background: black;
			margin-top: 5px;
		}
		.hideBar{
			animation: .5s linear forwards alternate hideBar;
		}
		.topDown{
			//position: absolute;
			animation: .5s linear forwards alternate topDown;
		}
		.topUp{
			//position: absolute;
			animation: .5s linear forwards alternate topUp;
		}
		.lowUp{
			//position: absolute;
			animation: .5s linear forwards alternate lowUp;
		}
		.lowDown{
			//position: absolute;
			animation: .5s linear forwards alternate lowDown;
		}
		@keyframes topDown{
			0%{
				top: 0px;
				transform: rotate(0deg);
			}
			25%{
				top: 10px;
				transform: rotate(0deg);
			}
			50%{
				top: 10px;
				transform: rotate(0deg);
			}
			75%{
				top: 10px;
				transform: rotate(0deg);
			}
			100%{
				top: 10px;
				transform: rotate(45deg);
			}
		}
		@keyframes lowUp{
			0%{
				top: 0px;
				transform: rotate(0deg);
			}
			25%{
				top: -10px;
				transform: rotate(0deg);
			}
			50%{
				top: -10px;
				transform: rotate(0deg);
			}
			75%{
				top: -10px;
				transform: rotate(0deg);
			}
			100%{
				top: -10px;
				transform: rotate(-45deg);
			}
		}
		@keyframes topUp{
			0%{
				top: 10px;
				transform: rotate(45deg);
			}
			25%{
				top: 10px;
				transform: rotate(0deg);
			}
			50%{
				top: 10px;
				transform: rotate(0deg);
			}
			75%{
				top: 10px;
				transform: rotate(0deg);
			}
			100%{
				top: 0px;
				transform: rotate(0deg);
			}
		}
		@keyframes lowDown{
			0%{
				top: -10px;
				transform: rotate(-45deg);
			}
			25%{
				top: -10px;
				transform: rotate(0deg);
			}
			50%{
				top: -10px;
				transform: rotate(0deg);
			}
			75%{
				top: -10px;
				transform: rotate(0deg);
			}
			100%{
				top: 0px;
				transform: rotate(0deg);
			}
		}
		@keyframes hideBar{
			0%{
				visibility: visible;
			}
			25%{
				visibility: visible;
			}
			50%{
				visibility: visible;
			}
			75%{
				visibility: hidden;
			}
			100%{
				visibility: hidden;
			}
		}
	}
}
.banner-container{
	padding: 0px;
	.hero-banner{
		position: relative;
		height: auto;
		width: 100vw;
	}
}

.seo-container{
	padding-top: 75px;
	padding-bottom: 75px;
	background: white;
}

.news-carousel{
	padding-top: 75px;
	padding-bottom: 75px;
	background: #f5f7fa;
	position: relative;
	@media(max-width:767px){
		padding-left: 0px;
		padding-right: 0px;
	}
	.custom-nav{
		@media(max-width:767px){
			.prev{
				left: 0px;
			}
			.next{
				right: 15px;
			}
		}
	}
	.news{
		position: relative;
		display: block;
		width: 90%;
		margin: 0 auto;
		z-index: 1;
		@media(max-width:991px){
			width: 100%;
		}
		.owl-dots{
			position: absolute;
			top: -50px;
			left: 0px;
			width: 100%;
			height: 15px;
			text-align: center;
			display: block !important;
			.owl-dot{
				position: relative;
				display: inline-block;
				height: 8px;
				width: 8px;
				border-radius: 15px;
				background: #c7cbd1;
				margin-right: 10px;
				&:last-child{
					margin-right: 0px;
				}
			}
			.active{
				background: black;
			}
		}
		@media(min-width:768px) and (max-width:991px){
			.item{
				display: flex;
				.col-12{
					flex: 1;
					.news-box{
						width: 100%;
						height: 100%;
						.box-text{
							
						}
					}
				}
			}
		}
		.news-box{
			position: relative;
			width: 50%;
			height: 50%;
			float: left;
			background: white;
			@media(max-width:767px){
				width: 100%;
				height: 50%;
				overflow: hidden;
			}
			.box-img{
				position: relative;
				display: block;
				width: 100%;
				height: auto;
			}
			.box-text{
				display: inline-block;
				text-align: center;
				position: relative;
				width: 90%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@media(max-width:767px){
					top: auto;
					left: auto;
					transform: translate(0%, 0%);
				}
			}
		}
		.box-right{
			float: right !important;
		}
	}
}

.hp-events-container{
	padding-top: 80px;
	padding-bottom: 80px;
	.event-copy{
		position: relative;
		display: inline-block;
		width: 100%;
		height: auto;
		top: 50%;
		transform: translateY(-50%);
		@media(max-width:767px){
			h3{
				text-align: center;
			}
			
			.more-link{
				position: relative;
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}
	.custom-nav{
		top: 30%;
		@media(max-width:767px){
			top: 10%;
		}
		.prev{
			left: -55px;
			@media(max-width:767px){
				left: 0px;
			}
		}
		.next{
			right: 50px;
			@media(max-width:767px){
				right: 15px;
			}
		}
	}
	.hp-events{
		position: relative;
		padding-right: 75px;
		@media(max-width:991px){
			padding-right: 0px;
			margin-top: 50px;
		}
		@media(max-width:767px){
			margin-top: 100px;
		}
		a{
			color: inherit;
			text-decoration: none;
		}
		p{
			font-size: 18px;
			font-family: @gotham;
			text-align: center;
			line-height: 20px;
			padding-top: 10px;
			margin: 0;
		}
		.date{
			color: #808184;
			text-align: center;
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: .1em;
			font-family: @gotham;
			font-weight: 600;
			padding-top: 20px;
		}
		.owl-dots{
			position: absolute;
			top: -50px;
			left: 0px;
			width: 100%;
			height: 15px;
			text-align: center;
			display: block !important;
			.owl-dot{
				position: relative;
				display: inline-block;
				height: 8px;
				width: 8px;
				border-radius: 15px;
				background: #c7cbd1;
				margin-right: 10px;
				&:last-child{
					margin-right: 0px;
				}
			}
			.active{
				background: black;
			}
		}
	}
}
.hp-callouts-container{
	position: relative;
	font-family: @gotham;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 80px;
	padding-top: 80px;
	background: #f5f7fa;
	.callout{
		position: relative;
		&:nth-child(even){
			.callout-text{
				top: 40%;
				@media(max-width:991px){
					top: 50%;
				}
			}
			img{
				margin-bottom: 40px;
				@media(max-width:991px){
					margin-bottom: 50px;
					margin-top: 20px;
				}
			}
		}
		&:nth-child(odd){
			.callout-text{
				top: 60%;
				@media(max-width:991px){
					top: 50%;
				}
			}
			img{
				margin-top: 40px;
				@media(max-width:991px){
					margin-bottom: 50px;
					margin-top: 20px;
				}
			}
		}
		&:hover{
			cursor: pointer;
			img{
				filter: brightness(50%);
			}
		}
		.callout-text{
			top: 50%;
			color: white;
			position: absolute;
			height: auto;
			width: 100%;
			text-align: center;
			left: 0px;
			transform: translateY(-50%);
			opacity: 0;
			z-index: 2;
			@media(max-width:991px){
				display: none;
			}
		}
		img{
			position: relative;
			display: block;
			max-width: 100%;
			margin: 0 auto;
			background-color: black;
			transition: all .35s;
			z-index: 1;
			@media(max-width:991px){
				position: relative;
				top: 0px;
				left: 0px;
			}
		}
		.in-text{
			@media(max-width: 991px){
				position: absolute;
				top: 20px;
				left: 15px;
				height: auto;
				display: inline-block;
				background: white;
				padding: 30px;
				z-index: 3;
			}
		}
		.in-out{
			-webkit-animation-name: inOut; /* Chrome, Safari, Opera */
			-webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
			animation-name: inOut;
			animation-duration: .5s;
			animation-fill-mode: forwards;
		}
		.in-hover{
			-webkit-animation-name: inHover; /* Chrome, Safari, Opera */
			-webkit-animation-duration: .5s; /* Chrome, Safari, Opera */
			animation-name: inHover;
			animation-duration: .5s;
			animation-fill-mode: forwards;
		}
		.callout-hover{
			-webkit-animation-name: calloutHover; /* Chrome, Safari, Opera */
			-webkit-animation-duration: .75s; /* Chrome, Safari, Opera */
			animation-name: calloutHover;
			animation-duration: .75s;
			animation-fill-mode: forwards;
		}
		.callout-out{
			-webkit-animation-name: calloutOut; /* Chrome, Safari, Opera */
			-webkit-animation-duration: .75s; /* Chrome, Safari, Opera */
			animation-name: calloutOut;
			animation-duration: .75s;
			animation-fill-mode: forwards; 
		}
		@keyframes inOut{
			0%{
				opacity: 0;
			}
			100% {
				opacity:1;
			}
		}
		@keyframes inHover{
			0%{
				opacity: 1;
			}
			100% {
				opacity:0;
			}
		}
		@keyframes calloutOut{
			0%{
				opacity: 0;
			}
			100%{
				opacity: 0;
			}
		}
		@keyframes calloutHover{
			0%{
				opacity: 0;
			}
			100%{
				opacity: 1;
			}
		}
		a{
			color: inherit;
			text-decoration: none;
		}
	}
}

.directory-container{
	position: relative;
	padding: 75px 15px 100px 15px;
	@media(max-width:767px){
		padding: 15px 15px 100px 15px;
	}
   .search-col{
      position: relative;
      .search-form{
         border-bottom: 1px solid #bababa;
         padding-bottom: 20px;
         .search-btn{
            position: absolute;
            border: none;
            background-color: transparent;
            font-size: 20px;
            top: 4px;
         }
         .search-field{
            padding-left: 35px;
            font-size: 14px;
            font-weight: bold;
            font-family: @gotham;
            letter-spacing: .05em;
            color: #6e6766;
            height: 40px;
            width: 100%;
            border: 1px solid #000;
         }
      }
      .product-link{
         padding-top: 20px;
         padding-left: 5px;
         a{
            color: #000;
            text-transform: uppercase;
            font-family: @gotham;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: .05em;
            text-decoration: none;
         }
         .fa{
            color: #126ab8;
            font-size: 30px;
            margin-right: 7px;
         }
      }
   }

   .display-options{
	   position: relative;
	   width: 92%;
	   display: block;
	   margin: 0 auto;
       height: 39px;
	   @media(min-width:1651px) and (max-width:1799px){
		   width: 93.3%;
	   }
	   @media(min-width:1500px) and (max-width:1650px){
		   width: 94.5%;
	   }
	   @media(min-width:1350px) and (max-width:1499px){
		   width: 96.3%;
	   }
	   @media(min-width:1200px) and (max-width:1349px){
		   width: 96.8%;
	   }
	   @media(min-width:992px) and (max-width:1199px){
		   width: 96.8%;
	   }
	   @media(min-width:768px) and (max-width:991px){
		   width: 96.5%;
	   }
	   @media(max-width:767px){
		   width: 100%;
		   padding: 0px 15px 0px;
	   }
	   .col-md-8{
		   padding: 0px;
		   margin-left: -5px;
		   @media(max-width:767px){
			   margin: 0px;
		   }
	   }
	   .filter-form{
		   position: relative;
		   .col-12{
			   padding: 0px;
			   margin: 0px;
		   }
		   .form-field, .form-select{
			   position: relative;
			   height: 50px;
			   width: 100%;
			   border-radius: 0px;
			   border: 1px solid #aeb2b8;
			   font-size: 18px;
			   color: black;
			   background-color: white;
			   z-index: 1;
		   }
		   .form-field{
			   padding-left: 55px;
			   margin-right: 10px;
		   }
		   .form-select{
			   padding-left: 30px;
			   @media(max-width:767px){
				   padding-left: 15px;
				   margin-top: 15px;
			   }
		   }
		   label{
			   position: absolute;
			   z-index: 2;
			   color: #808184;
		   }
		   .field-label{
			   left: 15px;
			   top: 8px;
		   }
		   .select-label{
			   right: 1px;
			   top: 1px;
			   height: 48px;
			   width: 30px;
			   background: white;
			   padding: 7px 10px 0px 0px;
			   @media(max-width:767px){
				   top: 16px;
				   display: none;
			   }
		   }
		   .cat-filter{
			   margin-left: 15px;
			   @media(max-width:767px){
				   margin-left: 0px;
			   }
		   }
	   }
	   .view-selector{
		   padding-right: 10px;
	   }
      ul{
         list-style: none;
         padding: 0;
		  text-align: right;
		  display: inline-block;
         li{
			width: 55px;
		 	height: 50px;
            display: inline-block;
			text-align: center;
            padding: 5px 10px;
            margin: 0px -3px 0px -3px;
            font-size: 14px;
            font-weight: bold;
            font-family: @gotham;
            letter-spacing: .05em;
            color: #3a3635;
            border:1px solid #aeb2b8;
			 transition: all .35s;
            &:first-child{
               border-right: none;
            }
            &:last-child{
               border-left: none;
            }
            &:hover{
               cursor: pointer;
			   background: #808184;
				img{
					-webkit-filter: invert(100%);
					filter: invert(100%);
				}
			 }
			 img{
				 transition: all .35s;
			 }
         }
         .active{
		   background: #808184;
			img{
				-webkit-filter: invert(100%);
				filter: invert(100%);
			} 
         }
      }
   }
   .display-container{
      padding-top: 35px;  
	 a{
		 color: inherit;
		 text-decoration: none;
	 }
	   .col-9, .col-12{
		   @media(max-width:767px){
			   padding-left: 15px;
			   padding-right: 15px;
			   margin: 0px;
		   }
	   }
      .grid-view{
		  position: relative;
		  padding-top: 20px;
		  @media(max-width:767px){
			  display: none;
		  }
         .grid{
            position: relative;
            border: 1px solid #d4d4d4;
            width: 18%;
            height: 200px;
            float: left;
			 margin: 10px;
		     @media(min-width:1200px) and (max-width:1349px){
			 	width: 17.8%;
		     }
			 @media(min-width:992px) and (max-width:1199px){
				 width: 22.4%;
			 }
			 @media(min-width:768px) and (max-width:991px){
				 width: 30.4%;
			 }
            .grid-img{
               position: relative;
               display: block;
               margin-left: auto;
               margin-right: auto;
               width: 80%;
               top: 50%;
               transform:translateY(-50%);
               -webkit-filter: grayscale(1);
               filter: grayscale(1);
               transition: all .25s;
               z-index: 1 !important;
            }
            &:hover{
               .grid-img{
                  width: 90%;
                  -webkit-filter: grayscale(0);
                  filter: grayscale(0);
               }
            }
            .status{
               position: absolute;
				display: block;
               top: 0px;
               transform: translateX(-50%);
               left: 50%;
				height: 35px;
				width: 80%;
				padding: 0px;
				font-size: 14px;
				letter-spacing: .1em;
				font-family: @gotham;
				text-transform: uppercase;
				color: white;
				z-index: 2;
				text-align: center;
				a{
					color: white;
				}
            }
			 .coming_soon, .now_open{
				 background: black;
			 }
			 .closing_soon{
				 background: #e35e30;
			 }
			 .relocated, .new_location{ 
				 background: #808184;
			 }
            .special{
               color: #f58232;
               width: 100%;
               height: auto;
               text-align: center;
            }
			 .retailer-logo-text{
				 position: relative;
				 width: 100%;
				 height: auto;
				 text-align: center;
				 top: 50%;
				 transform: translateY(-50%);
			 }
         }
      }
      .list-view{
         display: none;
		  padding-top: 30px;
		  padding-left: 0px;
		  padding-right: 0px;
		  margin-left: -15px;
		  margin-right: -15px;
		  @media(max-width:767px){
			  display: block;
			  padding-top: 0px;
			  margin-top: 90px;
		  }
         .list-item{
            border-bottom: 1px solid #d4d4d4;
            padding-bottom: 0px;
            padding-top: 10px;
			 font-size: 18px;
			 &:first-child{
				 border-top: 1px solid #d4d4d4;
			 }
			 .status-display{
				 @media(min-width:768px){
					 text-align: right;
				 }
			 }
            .status{
               position: relative;
               margin-top: 10px;
               margin-bottom: 5px;
               margin-left: 20px;
				display: inline-block;
				height: 35px;
				width: auto;
				padding: 0px 10px;
				font-size: 14px;
				letter-spacing: .1em;
				font-family: @gotham;
				text-transform: uppercase;
				color: white;
				z-index: 2;
				text-align: center;
				@media(max-width:767px){
					margin-left: 0px;
				}
            }
			 .coming_soon, .now_open{
				 background: black;
			 }
			 .relocated, .new_location{
				 background: #808184;
			 }
			 .closing_soon{
				 background: #e35e30;
			 }
            .retailer{
               font-size: 16px;
               font-family: @gotham;
               font-weight: bold;
               color: #000;
				padding-top: 10px;
               padding-left: 0;
               margin-left: 0;
				@media(max-width:767px){
					padding: 0px 0px 10px;
				}
            }
            .phone{
               color: #454545;
               font-size: 16px;
               font-family: @gotham;
               font-weight: 400;
            }
            .location{
               color: #454545;
               font-size: 16px;
               font-family: @gotham;
               font-weight: 400;
               .fa{
                  margin-right: 7px;
               }
            }
            .special{
               font-size: 20px;
               color: #f58232;
            }
			 ul{
				 list-style: none;
				 padding: 10px 0px 0px;
				 li{
					 display: inline-block;
				 }
			 }
			 .bar{
				 position: relative;
				 height: 15px;
				 width: 2px;
				 background: #d9dbde;
				 margin-left: 20px;
				 margin-right: 20px;
			 }
			 .retailer-info{
				 text-align: right;
				 font-size: 16px;
				 @media(max-width:767px){
					 text-align: left;
				 }
				 .fa-chevron-right{
					 margin-left: 50px;
					 font-size: 14px;
					 color: #808184;
				 }
			 }
         }
      }
      .map-view{
         display: none;
      }
   }
}

.sub-hero-container{
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;
	.sub-hero-img{
		
	}
	.push-content-down{
		position: relative;
		width: 100%;
		height: auto;
		padding-top: 50px;
	}
}

.content-container{
	position: relative;
	padding-bottom: 100px;
	.content{
		position: relative;
		background: white;
		padding-top: 25px;
		@media(min-width:1200px){
			padding-left: 50px;
			padding-right: 50px;
		}
		.info{
			padding-top: 65px;
			a{
				color: inherit;
			}
		}
		.info-title{
			font-family: @bebas;
			font-size: 18px;
			color: #808184;
			letter-spacing: .1em;
			padding-top: 30px;
			line-height: 10px;
		}
		.info-info{
			font-size: 16px;
			font-family: @gotham;
			color: black;
		}
		.info-social{
			a{
				text-decoration: none !important;
			}
		}
		.info-cats{
			font-size: 16px;
			color: black;
			a{
				text-decoration: underline;
				color: black;
			}
		}
		.event-filter{
			padding: 30px 0px 0px 0px;
			list-style: none;
			font-size: 16px;
			font-family: @gotham;
			font-weight: 600;
			letter-spacing: .1em;
			text-transform: uppercase;
			li{
				display: inline-block;
				margin-left: 30px;
				margin-right: 30px;
				&:hover{
					border-bottom: 3px solid black;
					cursor: pointer;
				}
			}
			.active{
				border-bottom: 3px solid black;;
			}
		}
		.filter-select{
			.selected-container{
				position: relative;
				height: auto;
				width: 100%;
				padding: 5px 15px;
				border: 1px solid #aeb2b8;
				font-size: 20px;
				text-transform: capitalize;
				text-align: left;
				font-family: @gotham;
				font-weight: 400;
				color: black;
				.fas{
					position: absolute;
					right: 15px;
					top: 13px;
					color: #808184;
				}
			}
			.event-filter{
				padding: 0px;
				width: 100%;
				border: 1px solid #aeb2b8;
				display: none;
				li{
					display: block;
					border-bottom: 1px solid #aeb2b8;
					padding: 5px 0px;
					margin: 0px;
				}
				.active{
					border-bottom: 1px solid #aeb2b8;
				}
			}
		}
		#shop, #dine, #entertain, #arts{
			display: none;
		}
		.event-desc{
			position: relative;
			display: block;
			height: auto;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			@media(max-width:767px){
				width: 90%;
				margin: -40px auto 0px auto;
				background: white;
				padding: 15px;
			}
		}
		.deal-desc{
			position: relative;
			display: block;
			height: auto;
			width: 100%;
			top: 50%;
			transform: translateY(-50%);
			text-align: center;
			@media(max-width:767px){
				width: 100%;
				margin: 0px auto;
				background: white;
				padding: 15px;
			}
		}
		.event-details{
			@media(max-width:767px){
				margin: 0 auto !important;
				width: 100%;
				padding: 0px 0px 20px 0px;
			}
		}
		.event-item{
			padding-bottom: 30px;
			padding-top: 30px;
			border-bottom: 1px solid #c7cbd1;
			@media(max-width:767px){
				border-bottom: 0px;
				padding-top: 0px;
			}
			.col-12, .col-6{
				padding-left: 0px;
				padding-right: 0px;
				@media(max-width:991px){
					padding: 0px 15px;
				}
			}
			.img-fluid{
				@media(min-width:768px){
					float: right;
				}
				@media(max-width:767px){
					display: block;
					margin: 0 auto;
				}
			}
			.store-name{
				font-size: 12px;
				line-height: 24px;
				font-weight: 500;
				color: #808184;
				letter-spacing: .1em;
				text-transform: uppercase;
			}
			.date{
				font-size: 16px;
				line-height: 24px;
				font-weight: 500;
				letter-spacing: .1em;
				color: black;
				text-transform: uppercase;
				padding-bottom: 10px;
			}
			.title{
				font-size: 32px;
				line-height: 36px;
				color: black;
				text-decoration: none;
				@media(max-width:767px){
					font-size: 24px;
					line-height: 28px;
				}
			}
			.desc{
				font-size: 16px;
				line-height: 28px;
				font-weight: 200;
				color: black;
				padding-top: 45px;
				padding-bottom: 40px;
				@media(max-width:767px){
					padding-top: 20px;
				}
			}
			.clear-btn{
				text-decoration: none;
				@media(max-width:767px){
					display: block;
					position: relative;
					width: 100%;
					margin: 0 auto;
				}
			}
		}
		.deal-item{
			border-bottom: 1px solid #c7cbd1;
			@media(max-width:767px){
				border-bottom: 0px;
				padding-top: 0px;
			}
			.deal-row{
				position: relative;
				margin-bottom: 30px;
			}
			.has-img{
				padding-left: 0px;
				padding-right: 0px;
				@media(max-width:991px){
					padding: 0px;
				}
			}
			.store-name{
				font-size: 12px;
				line-height: 24px;
				font-weight: 500;
				color: #808184;
				letter-spacing: .1em;
				text-transform: uppercase;
				text-decoration: none;
			}
			.date{
				font-size: 16px;
				line-height: 24px;
				font-weight: 500;
				letter-spacing: .1em;
				color: black;
				text-transform: uppercase;
				padding-top: 10px;
			}
			.title{
				font-size: 32px;
				line-height: 36px;
				color: black;
				text-decoration: none;
				@media(max-width:767px){
					font-size: 24px;
					line-height: 28px;
				}
			}
			.desc{
				font-size: 16px;
				line-height: 28px;
				font-weight: 200;
				color: black;
				padding-top: 45px;
				padding-bottom: 40px;
				@media(max-width:767px){
					padding-top: 20px;
				}
			}
			.clear-btn{
				text-decoration: none;
				@media(max-width:767px){
					display: block;
					position: relative;
					width: 100%;
					margin: 0 auto;
				}
			}
		}
		.siteman-content-1{
			h1, h2, h3, h4, h5, h6{
				font-family: @gotham !important;
				font-weight: 600 !important;
				padding-top: 25px;
			}
			p, ul, ol{
				position: relative;
				height: auto;
				font-size: 16px;
				line-height: 28px;
				color: black;
				padding-top: 25px;
			}
			ol{
				padding-left: 1.3em;
			}
			ul{
				position: relative;
				padding-left: 0px;
			}
			ul{
				list-style: none;
				li{
					position: relative;
					padding-left: 20px;
					&:before{
						content: '';
						position: absolute;
						left: 0px;
						top: 7px;
						height: 10px;
						width: 10px;
						background: #808184;
					}
				}
			}
			.clear-btn{
				position: relative;
				margin-top: 30px;
				@media(max-width:767px){
					font-size: 13px;
					padding: 5px 10px;
					width: 100%;
					margin-bottom: 40px;
				}
				&:hover{
					color: white;
				}
			}
		}
		.siteman-content-2{
			@media(max-width:767px){
				margin-top: 40px;
			}
			h1, h2, h3, h4, h5, h6{
				color: #808184;
			}
			a{
				color: inherit;
			}
		}
	}
}

.footer-email{
	position: relative;
	padding: 100px 15px;
	background: url(img/signup-bg.jpg) no-repeat left;
	background-size: cover;
	text-align: center;
	p{
		font-family: @gotham;
	}
	.footer-form{
		.form-control{
			position: relative;
			height: 50px;
			width: 100%;
			border: 1px solid black;
			border-radius: 0px;
			background-color: transparent;
			font-size: 22px;
		}
		.submit-btn{
			position: relative;
			height: 50px;
			width: 100%;
			text-align: center;
			border: 1px solid black;
			border-radius: 0px;
			color: black;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			background-color: transparent;
			transition: all .35s;
			&:hover{
				background-color: black;
				color: white;
			}
			@media(max-width:991px){
				margin-top: 25px;
			}
		}
	}
}
.footer{
	position: relative;
	width: 100%;
	height: auto;
	background: black;
	padding: 100px 15px;
	@media(max-width:767px){
		padding: 50px 15px 25px;
	}
	a{
		color: white;
		text-decoration: none;
	}
	ul{
		list-style: none;
		padding: 0px;
		li{
			display: inline-block;
		}
	}
	.links{
		font-size: 12px;
		letter-spacing: .1em;
		text-transform: uppercase;
		text-align: center;
		@media(min-width:1350px) and (max-width:1499px){
			font-size: 10px;
		}
		@media(min-width:1200px) and (max-width:1349px){
			font-size: 10px;
		}
		@media(max-width:767px){
			padding: 40px 0px;
		}
		a{
			&:hover{
				@media(min-width:768px){
					li{
						border-bottom: 3px solid white;
					}
				}
			}
		}
		li{
			width: auto;
			height: 32px;
			margin-right: 50px;
			display: inline-block;
			border-bottom: 3px solid black;
			transition: all .25s;
			padding-bottom: 0px;
			@media(min-width:1500px) and (max-width:1650px){
				margin-right: 30px;
			}
			@media(min-width:1350px) and (max-width:1499px){
				margin-right: 25px;
			}
			@media(min-width:1200px) and (max-width:1349px){
				margin-right: 20px;
			}
			@media(min-width:992px) and (max-width:1199px){
				margin-right: 50px;
			}
			@media(max-width:767px){
				display: block;
				margin-right: 0px;
				border: none;
				margin: 10px 0px;
			}
		}
		.last{
			margin-right: 0px;
		}
	}
	.social{
		position: relative;
		font-size: 24px;
		text-align: center;
		li{
			margin-right: 15px;
		}
		.last{
			margin-right: 0px;
		}
	}
	.address{
		font-size: 12px;
		letter-spacing: .05em;
		text-transform: uppercase;
		text-align: center;
		@media(min-width:1350px) and (max-width:1499px){
			font-size: 10px;
		}
		@media(min-width:1200px) and (max-width:1349px){
			font-size: 9px;
		}
		li{
			&:after{
				content:'|';
				position: relative;
				color: #808184;
				margin-left: 10px;
				margin-right: 10px;
				@media(max-width:767px){
					content: '';
					position: absolute;
					height: 0px;
					width: 0px;
				}
			}
		}
		.last{
			&:after{
				content:'';
				margin: 0px;
			}
		}
	}
}
.footer-logos{
	position: relative;
	height: auto;
	width: 100%;
	padding: 45px 15px;
	background: white;
	ul{
		list-style: none;
		padding: 0px;
		li{
			display: inline-block;
			padding-right: 20px;
			position: relative;
			&:after{
				content: '';
				position: absolute;
				height: 30px;
				width: 1px;
				display: block;
				right: 0px;
				top: 5px;
				background: #dfe4eb;
			}
			&:last-child{
				padding-right: 0px;
				padding-left: 20px;
				&:after{
					content: '';
					position: absolute;
					height: 0px;
					width: 0px;
				}
			}
		}
	}
	.copy{
		font-family: @gotham;
		font-size: 12px;
		color: #808184;
		padding-top: 5px;
	}
}
.map-button-wrapper .modal-dialog{
   top:0;
   @media (max-width:767px){
      height:100%;
      margin:0;
      .modal-content{
         height:100%;
      }
   }   
   .close{
      font-size:28px;
      color:#fff;
      opacity:1;
   }
   i{
      padding-right:10px;
   }
   .modal-body{
      padding:0;
      @media (max-width:767px){
         height:90%;
      }
   }
   #map{
      height:400px;
      @media (max-width:767px){
         height:100%;
      }
   }
   .modal-header{
      background:#000;
      color:#fff;
      @media (max-width:767px){
         height:10%;
         min-height:54px;
      }
   }
   .retailer_maps_wrapper {
      @media (max-width:767px){
         height:100%;
      }
      .maps_buttons{
         li{
            display:block;
            button,.btn,a.btn{
               min-width:120px;
               margin:0 0 10px;
               border:1px solid #000;
            }
         }
      }
   }
}
.no-border{
	border: none !important;
}
.has-border{
	border: 1px solid #dfe4eb;
}
.shrink{
	@media(min-width:768px){
		position: relative;
		width: 100%;
	}
}
/* ===== Bootstrap Changes ===== */
.container{
	@media(min-width: 1350px) and (max-width:1499px){
		max-width: 1300px;
	} 
	@media(min-width:1500px) and (max-width:1650px){
		max-width: 1450px;
	}
	@media(min-width: 1651px) and (max-width: 1799px){
		max-width: 1601px;
	}
	@media(min-width:1800px){
		max-width: 1750px;
	}
}
.hidden-xs{
	@media(max-width:767px){
		display: none;
	}
}
.hidden-sm{
	@media(min-width:768px) and (max-width:991px){
		display: none;
	}
}
.visible-sm{
	@media(min-width:768px) and (max-width:991px){
		display: block !important;
	}
}
.visible-xs{
	display: none;
	@media(max-width:767px){
		display: block !important;
	}
}