			<div class="container-fluid footer-email">
				<div class="row">
					<div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
						<h3>district insider</h3>
						<p>Become a District Insider and stay up to date on exclusive announcements, new openings, and upcoming events</p>
						<form class="footer-form">
							<div class="row">
								<div class="col-12 col-lg-9">
									<input type="email" name="email" class="form-control">
								</div>
								<div class="col-12 col-lg-3">
									<input type="submit" name="submit" value="subscribe" class="submit-btn">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="container-fluid footer-gallery">
				<div class="row">
					Instagram feed here
				</div>
			</div>
			
			<div class="container-fluid footer">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-4">
							<ul>
								<a href=""><li>business</li></a>
								<a href=""><li>community</li></a>
								<a href=""><li>careers</li></a>
								<a href=""><li>learn more</li></a>
							</ul>
						</div>
						<div class="col-12 col-lg-4">
							<ul>
								<a href=""><li><span class="fab fa-facebook-square"></span></li></a>
								<a href=""><li><span class="fab fa-twitter"></span></li></a>
								<a href=""><li><span class="fab fa-instagram"></span></li></a>
							</ul>
						</div>
						<div class="col-12 col-lg-4">
							<ul>
								<a href=""><li>1101 market street, philadelphia, PA 19107</li></a>
								<a href=""><li>215.983.7906</li></a>
							</ul>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid footer-logos">
				<div class="col-12 text-center">
					<ul class="logos">
						<li><img src="images/preit-logo.png" alt="PRET"></li>
						<li><img src="images/macerich-logo.png" alt="Macerich"></li>
					</ul>
				</div>
			</div>
		</div>
		
		<script>
			// Select all links with hashes
			$('a[href*="#"]')
			  // Remove links that don't actually link to anything
			  .not('[href="#"]')
			  .not('[href="#0"]')
			  .click(function(event) {
				// On-page links
				if (
				  location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
				  && 
				  location.hostname == this.hostname
				) {
				  // Figure out element to scroll to
				  var target = $(this.hash);
				  target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				  // Does a scroll target exist?
				  if (target.length) {
					// Only prevent default if animation is actually gonna happen
					event.preventDefault();
					$('html, body').animate({
					  scrollTop: target.offset().top
					}, 1000, function() {
					  // Callback after animation
					  // Must change focus!
					  var $target = $(target);
					  $target.focus();
					  if ($target.is(":focus")) { // Checking if the target was focused
						return false;
					  } else {
						$target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
						$target.focus(); // Set focus again
					  };
					});
				  }
				}
			  });
		</script>
		<script>
			// Hide Header on on scroll down
			var didScroll;
			var lastScrollTop = 0;
			var delta = 5;
			var navbarHeight = $('.sticky-nav-container').outerHeight();

			$(window).scroll(function(event){
				didScroll = true;
				var isTop = $(this).scrollTop();
				if(isTop<175){
					$('.sticky-nav-container').removeClass('nav-down').addClass('nav-up');
				}
			});

			setInterval(function() {
				if (didScroll) {
					hasScrolled();
					didScroll = false;
				}
			}, 250);

			function hasScrolled() {
				var st = $(this).scrollTop();
				var mobiMenuVisible = $('.mobi-menu');

				// Make sure they scroll more than delta
				if(Math.abs(lastScrollTop - st) <= delta)
					return;

				// If they scrolled down and are past the navbar, add class .nav-up.
				// This is necessary so you never see what is "behind" the navbar.
				if (st > lastScrollTop && st > navbarHeight){
					// Scroll Down
					if(mobiMenuVisible.is(":visible")){
						
					}else{
						$('.sticky-nav-container').removeClass('nav-down').addClass('nav-up');
					}
				} else if(st > 175) {
					// Scroll Up
					$('.sticky-nav-container').removeClass('nav-up').addClass('nav-down');
				}
				
				lastScrollTop = st;
			}
		</script>
		<script>
			$(document).ready(function(){
				mobiBtn();
			});
			function mobiBtn(){
				var isClicked = 0;
				$('.menu-btn-container').click(function(){
					if(isClicked==0){
						isClicked++;
						$('.top-bar').removeClass('topUp');
						$('.top-bar').addClass('topDown');
						$('.low-bar').removeClass('lowDown');
						$('.low-bar').addClass('lowUp');
						$('.mid-bar').addClass('hideBar');
						showMenu();
					}else{
						isClicked--;
						$('.top-bar').removeClass('topDown');
						$('.top-bar').addClass('topUp');
						$('.low-bar').removeClass('lowUp');
						$('.low-bar').addClass('lowDown');
						setTimeout(function(){
							$('.mid-bar').removeClass('hideBar');
						}, 300);
						hideMenu();
					}
				});
			}
			function showMenu(){
				var headerHeight = $('.header-container').height();
				$('.mobi-menu').css({'top': headerHeight});
				$('.mobi-menu').slideDown(500);
				$('.mobi-nav').addClass('navDown');
			}
			function hideMenu(){
				$('.mobi-menu').slideUp(500);
			}
		</script>
	</body>
</html>