<style type="text/css">
  svg
  {
    width:100%;
    height: 100%;
  }
</style>
      <div class="tooltip"></div>
      <div id="map"></div>
     

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7tbq5WbknZf5t7g49Iy7jBMALWbi2E0k"></script> -->
    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->
    <% directory_id = "" %>
    <% if retailer.suites.any? %>
      <% directory_id = retailer.suites.order(:directory_section_id).first.directory_section_id %>
    <% end %>
    <% if !@website.blank? && @website.properties.any? %>
      <% if !directory_id.blank? %>
        <% directory = directory_id %>
      <% elsif @website.directory_sections.any? %>
        <% directory = @website.directory_sections.first.id %>
      <% end %>
      <% if !@zoom.blank? %>
         <% zoom = @zoom %>
      <% else %>
         <% zoom = "17" %>
      <% end %>
      <% if !@lat_center.blank? && !@lng_center.blank? %>
        <% @lat = @lat_center %>
        <% @lng = @lng_center %>
      <% else %>
        <% @lat = @website.properties.first.latitude.to_f %>
        <% @lng = @website.properties.first.longitude.to_f %>
      <% end %>
    <script>
      // This example creates a custom overlay called USGSOverlay, containing
      // a U.S. Geological Survey (USGS) image of the relevant area on the map.

      // Set the custom overlay object's prototype to a new instance
      // of OverlayView. In effect, this will subclass the overlay class therefore
      // it's simpler to load the API synchronously, using
      // google.maps.event.addDomListener().
      // Note that we set the prototype to an instance, rather than the
      // parent class itself, because we do not wish to modify the parent class.

      var overlay;
      USGSOverlay.prototype = new google.maps.OverlayView();

      // Initialize the map and the custom overlay.

      function initMap(svg_string) {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: <%= zoom %>,
          //zIndex: -1000,
          heading: 100,
          center: {lat: <%= @lat %>, lng: <%= @lng %>},
          mapTypeControl: false,
          styles: [{"featureType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"visibility":"on"}]},{"featureType":"poi","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#e9e9e9"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"color":"#f5f5f5"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#f5f5f5"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#ffffff"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}]
        });

        var heading = map.getHeading() || 0;
        map.setHeading(heading + 90);

        var bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(<%= @website.properties.first.latitude1.to_f %>, <%= @website.properties.first.longitude1.to_f %>),
            new google.maps.LatLng(<%= @website.properties.first.latitude2.to_f %>, <%= @website.properties.first.longitude2.to_f %>));

      
        var srcImage = svg_string;
        

        window.svg_string_data = svg_string;



        // The custom USGSOverlay object contains the USGS image,
        // the bounds of the image, and a reference to the map.
        new USGSOverlay(bounds, srcImage, map);
      }

      /** @constructor */
      function USGSOverlay(bounds, image, map) {

        // Initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;

        // Define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay.
        this.setMap(map);
      }
      

      /**
       * onAdd is called when the map's panes are ready and the overlay has been
       * added to the map.
       */
      USGSOverlay.prototype.onAdd = function() {

        // div2 = document.createElement('div');
        // div2.setAttribute("class","map-tooltip");
        // div2.id = "tooltip_div";
        div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

        //svg = document.createElementNS('http://www.w3.org/2000/svg','svg');
        // object = document.createElement('object');
        // object.data = this.image_;
        // object.type = "image/svg+xml";
        // object.style.width = '100%';
        // object.style.height = '100%';
        // //object.style.position = 'absolute';
        // object.id = "svgmap";
        // // Create the img element and attach it to the div.
        // var img = document.createElement('img');
        // img.src = this.image_;
        // img.style.width = '100%';
        // img.style.height = '100%';
        // img.style.position = 'absolute';
        // object.appendChild(img);
        // div.appendChild(object);
        // div.appendChild(div2);
        div.innerHTML = this.image_;
        this.div_ = div;
        this.div_.id = 'imgOverlay';

        // Add the element to the "overlayLayer" pane.
        var panes = this.getPanes();
        

        this.getPanes().overlayMouseTarget.appendChild(div);


  var me = this;

   tooltip_array = "";

    div.ontouchmove = function(e)
  {
    e.preventDefault();
  }
  


           // call to fetch suite and retailer data to show in tooltip
  $.get('/siteman/get_tooltip_data', { directory_id: <%= directory %> }, function(data){
                //alert("hurray : "+data[1][0]);
                tooltip_array = data;
                for(i=0;i<tooltip_array.length;i++)
            {
              var element = $("#ste_"+tooltip_array[i][0]);
              if("ste_"+tooltip_array[i][0]== $(element).attr("id"))
              {
                the_suite = element;
                the_tooltip ="<div>"+tooltip_array[i][1]+"</div><div>"+tooltip_array[i][2]+"</div>";
                element.attr('data-title', the_tooltip);
                element.attr('data-toggle', "tooltip");
                element.attr("rel","tooltip");
              }
            }
//                 tooltip_array = data;
//    var the_tooltip;
//   a = document.getElementById("svgmap");
//   svgDoc = a.contentDocument;
//             for(i=0;i<tooltip_array.length;i++)
//               {

//                 var obj = svgDoc.getElementById("ste_"+tooltip_array[i][0]);
//                 if(obj)
//                 {
//                   if("ste_"+tooltip_array[i][0] == (svgDoc.getElementById("ste_"+tooltip_array[i][0]).id) )
//                   {
//                     the_suite = svgDoc.getElementById("ste_"+tooltip_array[i][0]);

//                     the_tooltip ="<div>"+tooltip_array[i][1]+"</div><div>"+tooltip_array[i][2]+"</div>";

//                     classes = the_suite.getAttribute("class");
//                     classes+= " tooltip_div_class";
//                     the_suite.setAttribute('class',classes);

//                     // var title = document.createElementNS("http://www.w3.org/2000/svg","title")
//                     // title.textContent = tooltip
//                     // the_suite.appendChild(title)
//                     the_suite.setAttribute('data-tooltip', the_tooltip);
//                     //the_suite.setAttribute('data-toggle','tooltip');
//                 }
//               }
// }



    $(function() 
          {
            $("*[rel=tooltip]").tooltip({container:'body', html: true });
          });
 

 // var suite = svgDoc.onmouseover = function(e) {
            
 //            vacant_suite = e.target;
 //            id = vacant_suite.id;
 //            // var marker = $(".htmlMarker");
 //            // marker.css("opacity","1");
 //            if(e.target.getAttribute("data-tooltip"))
 //            {
 //               var tooltip = $('.map-tooltip');
               
 //               tooltip.html(e.target.getAttribute("data-tooltip"));     

 //              e.target.addEventListener('mouseenter', function() {
    
 //              var sel = this,
 //              // get the borders of the path - see this question: http://stackoverflow.com/q/10643426/863110
 //              pos = sel.getBoundingClientRect();
 //               tooltip_height = tooltip.outerHeight();
 //               tooltip_width = tooltip.outerWidth()/2;
 //               top_pos = pos.top - tooltip_height;
 //               left_pos = (pos.left + (pos.width/2)) - tooltip_width ;
 //              tooltip.css('left',left_pos +'px');
 //              tooltip.css('top', top_pos+'px');
 //              tooltip.css('display', 'block');
            

 //              });

 //              // when mouse leave hide the tooltip
 //              e.target.addEventListener('mouseleave', function(){

 //              // tooltip.style.display = 'none';
 //              tooltip.css('display', 'none');
 //              });

 //             }
    
          
 //             //if(!vacant_suite.getAttribute("title"))
 //             //{
 //               // var title = document.createElementNS("http://www.w3.org/2000/svg","title")
 //                //title.textContent = "Vacant Suite"
 //                //vacant_suite.appendChild(title)
 //               //vacant_suite.setAttribute('data-title', "Vacant Suite");
 //               //vacant_suite.setAttribute('data-toggle','tooltip');
 //             //}

 //           }
     });
          
    

  };

      USGSOverlay.prototype.draw = function() {

        // We use the south-west and north-east
        // coordinates of the overlay to peg it to the correct position and size.
        // To do this, we need to retrieve the projection from the overlay.
        var overlayProjection = this.getProjection();

        // Retrieve the south-west and north-east coordinates of this overlay
        // in LatLngs and convert them to pixel coordinates.
        // We'll use these coordinates to resize the div.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's div to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';

    //   function HTMLMarker(lat, lng) {
    //     this.lat = lat;
    //     this.lng = lng;
    //     this.pos = new google.maps.LatLng(lat, lng);
    // }

    // HTMLMarker.prototype = new google.maps.OverlayView();
    // HTMLMarker.prototype.onRemove = function () {}

    // //init your html element here
    // HTMLMarker.prototype.onAdd = function () {
    //     div1 = document.createElement('DIV');
    //     div1.style.position='absolute';
    //     div1.className = "htmlMarker";
    //     div1.innerHTML = "<div class='map-pin'>Pin</div>";
    //     var panes1 = this.getPanes();
    //     panes1.floatPane.appendChild(div1);
    //     this.div1=div1;
    // }

    // HTMLMarker.prototype.draw = function () {
      
    //     var overlayProjection = this.getProjection();
    //     var position = overlayProjection.fromLatLngToDivPixel(this.pos);
    //     var panes = this.getPanes();
    //     this.div1.style.left = position.x + 'px';
    //     this.div1.style.top = position.y + 'px';
    // }

    //to use it
    <% suites = retailer.suites.where("directory_section_id = ? ", directory) %>
    
    <% if suites.any? %>
    <% suites.each do |suite| %>
    var elem = document.getElementById("ste_" + "<%= suite.suite_id.to_s %>");
    if (elem != null){
      elem.style.fill = '#fbcc37';
    }

	<% if !suite.latitude.blank? && !suite.longitude.blank? %>
       function CustomMarker(latlng, map, args) {
	  this.latlng = latlng;
	  this.args = args;
	  this.setMap(map);
	}
       CustomMarker.prototype = new google.maps.OverlayView();

       CustomMarker.prototype.draw = function() {
	 var self = this;
	 var div = this.div;
	 if (!div) {
	    div = this.div = document.createElement('div');
	    div.style.position = 'absolute';
	    div.style.cursor = 'pointer';
	    div.style.width = '20px';
	    div.style.height = '20px';
	    image = document.createElement('img');
	    image.src = self.args.image;
	    div.className = 'marker';
	    div.appendChild(image);
	    if (typeof(self.args.marker_id) !== 'undefined') {
	      div.dataset.marker_id = self.args.marker_id;
	    }
	    google.maps.event.addDomListener(div, "click", function(event) {
	      google.maps.event.trigger(self, "click");
	    });
	    var panes = this.getPanes();
	    panes.overlayImage.appendChild(div);
	  }
	  $('.marker img').css('max-width', '100%');
	  $('.marker img').css('max-height', '100%');		 	
 	  $('.marker').parent().css('z-index', '99999');
	  var point = this.getProjection().fromLatLngToDivPixel(this.latlng);
	 
	  if (point) {
	    div.style.left = (point.x - 10) + 'px';
	    div.style.top = (point.y - 20) + 'px';
	  }
     };

     CustomMarker.prototype.remove = function() {
       if (this.div) {
	 this.div.parentNode.removeChild(this.div);
	 this.div = null;
	}
     };
     CustomMarker.prototype.getPosition = function() {
	return this.latlng;
     };

     image = '/amenities/map-marker.png';
     latlngset = new google.maps.LatLng("<%= suite.latitude %>", "<%= suite.longitude %>");
     overlay = new CustomMarker(latlngset, map, {image: image});
    <% else %>
      var elem = document.getElementById("ste_" + "<%= suite.suite_id.to_s %>");
       if (elem != null)
       {
    var elem_bounds = elem.getBBox();
    if(elem_bounds.height>100)
    {
      
      height = elem_bounds.height/2;
      width = elem_bounds.width/3;
    }
    else
    {
      height = width = 0;

    }

    if(elem_bounds.width<20)
    {
      height = -20;
      width = -20;
    }
    svg = document.createElementNS('https://www.w3.org/2000/svg','svg');
    svg_image = document.getElementById("imgOverlay").firstChild;

      // svg_image = document.getElementById("back");
              svg.setAttribute("width","100");
              svg.setAttribute("height","100");
              def = document.createElementNS('https://www.w3.org/2000/svg','defs');
              var txt = document.createElementNS('http://www.w3.org/2000/svg','image');
              txt.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', "/amenities/map-marker.png");
               if(elem.getAttribute("points"))
              {
                 points = elem.getAttribute("points").split(" ");
                 txt.setAttribute("x",elem_bounds.x+width);
                 txt.setAttribute("y",elem_bounds.y+height);
                 
              }
              else
              {
                
                txt.setAttribute("x",elem_bounds.x+width);
                txt.setAttribute("y",elem_bounds.y+height);
                transform_val = elem.getAttribute("transform");
                if(transform_val)
                {
                  txt.setAttribute("transform",elem.getAttribute("transform"));
                }
              }
              txt.setAttribute("height","50");
              txt.setAttribute("width","50");
              // def.appendChild(txt)
              // svg.appendChild(def);

              svg_image.appendChild(txt);


      // var htmlMarker = new HTMLMarker(<%= suite.latitude.to_f %>, <%= suite.longitude.to_f %>);
      
      // htmlMarker.setMap(map);
    }
    <% end %>
    <% end %>
    <% end %>



      };

      // The onRemove() method will be called automatically from the API if
      // we ever set the overlay's map property to 'null'.
      USGSOverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      };
</script>
<script>
  function svg_render()
  {
    $.get('/siteman/get_svg_file_for_map', { directory_id: <%= directory %>, website_id: <%= @website.id %> }, function(data){
        window.svg_string = data;

    }).done(function() 
    {
      initMap(svg_string);
    });
  }
</script>
<script type="text/javascript">
      $(document).ready(function(){
        svg_render();
        

      });
    </script>

<script type="text/javascript">
      // $(document).on("mouseover",".cls-2",function(){
      //   for(i=0;i<tooltip_array.length;i++)
      //   {
      //     if("ste_"+tooltip_array[i][0]== $(this).attr("id"))
      //     {
      //       the_suite = $(this);
      //       the_tooltip ="<div>"+tooltip_array[i][1]+"</div><div>"+tooltip_array[i][2]+"</div>";
      //       $(this).attr('data-title', the_tooltip);
      //       $(this).attr('data-toggle', "tooltip");
      //     }
      //   }
      //   $(this).tooltip({container:'body', html: true });
      // });
</script>

<script type="text/javascript">
// $(document).on("click","*[rel=tooltip]",function()
// {
//   var suiteid = $(this).attr("id");
//   $.get("/siteman/get_retailer_map_frontend", {suite_id: suiteid, directory_id: globaldata }, function(data){

//   if(data.retailer){
//   location.href = "/directory/view/"+data.retailer.slug;
//   }
//   });

// });       
</script>
<% end %>
    
