<style type="text/css">
  svg
  {
    width:100%;
    height: 100%;
  }
</style>
      <div class="tooltip"></div>
      <div id="map"></div>
 

    <% if !@website.blank? && @website.properties.any? %>
      <% directory_obj = @website.directory_sections %>
      <% if directory_obj.any? %>
        <% directory = directory_obj.first %>
        <% if !@zoom.blank? %>
         <% zoom = @zoom %>
         <% else %>
         <% zoom = "17" %>
        <% end %>
        <% if !@lat_center.blank? && !@lng_center.blank? %>
        
        <% @lat = @lat_center %>
        <% @lng = @lng_center %>
        <% else %>
        <% property_obj = @website.properties.first %>
        <% @lat = property_obj.latitude.to_f %>
        <% @lng = property_obj.longitude.to_f %>
        <% end %>
    <script>
      // This example creates a custom overlay called USGSOverlay, containing
      // a U.S. Geological Survey (USGS) image of the relevant area on the map.

      // Set the custom overlay object's prototype to a new instance
      // of OverlayView. In effect, this will subclass the overlay class therefore
      // it's simpler to load the API synchronously, using
      // google.maps.event.addDomListener().
      // Note that we set the prototype to an instance, rather than the
      // parent class itself, because we do not wish to modify the parent class.
      window.globaldata;
      globaldata = <%= directory.id.to_s %>;

      var overlay;
      USGSOverlay.prototype = new google.maps.OverlayView();

      // Initialize the map and the custom overlay.

      function initMap(svg_string) {



        map = new google.maps.Map(document.getElementById('map'), {
          zoom: <%= zoom %>,
          //zIndex: -1000,
          heading: 100,
          center: {lat: <%= @website.properties.first.latitude.to_f %>, lng:  <%= @website.properties.first.longitude.to_f %> },
          mapTypeControl: false,
          styles: [{"featureType":"all","stylers":[{"visibility":"off"}]},{"featureType":"road","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"visibility":"on"}]},{"featureType":"poi","stylers":[{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#cbcbcb"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#b3b3b3"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#d8d8d8"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#d8d8d8"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"off"},{"color":"#bfbfbf"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#a7a7a7"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#d8d8d8"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#bfbfbf"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#696969"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#737373"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#dadada"}]}]
        });

        var heading = map.getHeading() || 0;
        map.setHeading(heading + 90);

       var bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(<%= @website.properties.first.latitude1.to_f %>, <%= @website.properties.first.longitude1.to_f %>),
            new google.maps.LatLng(<%= @website.properties.first.latitude2.to_f %>, <%= @website.properties.first.longitude2.to_f %>));

      
        var srcImage = '/directory_svg/'+globaldata+"_"+<%= @website.id.to_s %>+".svg";
        

        // window.svg_string_data = svg_string;



        // The custom USGSOverlay object contains the USGS image,
        // the bounds of the image, and a reference to the map.
        new USGSOverlay(bounds, srcImage, map);
      }

      /** @constructor */
      function USGSOverlay(bounds, image, map) {

        // Initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;

        // Define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay.
        this.setMap(map);
      }
      

      /**
       * onAdd is called when the map's panes are ready and the overlay has been
       * added to the map.
       */
      USGSOverlay.prototype.onAdd = function() {

        var div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

        // Create the img element and attach it to the div.
        var img = document.createElement('img');
        img.src = this.image_;
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'relative';
        img.id = "svg_image";
        div.appendChild(img);
       
        this.div_ = div;
 this.div_.id = 'imgOverlay';
        // Add the element to the "overlayLayer" pane.
        window.panes = this.getPanes();
        panes.mapPane.appendChild(div);

  var me = this;

   tooltip_array = "";

    div.ontouchmove = function(e)
  {
    e.preventDefault();
  }


           // call to fetch suite and retailer data to show in tooltip
  $.get('/siteman/get_tooltip_data', { directory_id: <%= directory.id %> }, function(data){
                
                tooltip_array = data;
                for(i=0;i<tooltip_array.length;i++)
            {
              var element = $("#ste_"+tooltip_array[i][0]);
              if("ste_"+tooltip_array[i][0]== $(element).attr("id"))
              {
                the_suite = element;
                the_tooltip ="<div>"+tooltip_array[i][1]+"</div><div>"+tooltip_array[i][2]+"</div>";
                element.attr('data-title', the_tooltip);
                element.attr('data-toggle', "tooltip");
                element.attr("rel","tooltip");
              }
            }


    

    $(function() 
          {
            $("*[rel=tooltip]").tooltip({container:'body', html: true });
          });
 

     });
          
    

  };

      USGSOverlay.prototype.draw = function() {

        // We use the south-west and north-east
        // coordinates of the overlay to peg it to the correct position and size.
        // To do this, we need to retrieve the projection from the overlay.
        var overlayProjection = this.getProjection();

        // Retrieve the south-west and north-east coordinates of this overlay
        // in LatLngs and convert them to pixel coordinates.
        // We'll use these coordinates to resize the div.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's div to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';

    //      function HTMLMarker(lat, lng) {
    //     this.lat = lat;
    //     this.lng = lng;
    //     this.pos = new google.maps.LatLng(lat, lng);
    // }

    // HTMLMarker.prototype = new google.maps.OverlayView();
    // HTMLMarker.prototype.onRemove = function () {}

    // //init your html element here
    // HTMLMarker.prototype.onAdd = function () {
    //     div = document.createElement('DIV');
    //     div.style.position='absolute';
    //     div.className = "htmlMarker";
    //     div.innerHTML = "<div class='map-pin'>Pin</div>";
    //     // var panes = this.getPanes();
    //     panes.floatPane.appendChild(div);
    //     this.div=div;
    // }

    // HTMLMarker.prototype.draw = function () {
    //     var overlayProjection = this.getProjection();
    //     var position = overlayProjection.fromLatLngToDivPixel(this.pos);
    //     var panes = this.getPanes();
    //     this.div.style.left = position.x + 'px';
    //     this.div.style.top = position.y - 30 + 'px';
    // }

    //to use it
    for(i=0;i<suite_array.length;i++)
    {

    //   var hidden_div = document.createElement("div");
    //   hidden_div.innerHTML = svg_string;
    //   hidden_div.style.display = "none";
    //   hidden_div.style.position = 'absolute';
    //   document.getElementById("imgOverlay").appendChild(hidden_div);
    //   var elem = document.getElementById("ste_" + String(suite_array[i][0]));

    //   var elem_bounds = elem.getBBox();
    // if(elem_bounds.height>100)
    // {
      
    //   height = elem_bounds.height/2;
    //   width = elem_bounds.width/3;
    // }
    // else
    // {
    //   height = width = 0;

    // }
    // svg = document.createElementNS('http://www.w3.org/2000/svg','svg');
    // alert("going");
    // svg_image = document.getElementById("imgOverlay").firstChild;
    // alert("svg image is : " + svg_image);
    //   // svg_image = document.getElementById("back");
    //           svg.setAttribute("width","100");
    //           svg.setAttribute("height","100");
    //           def = document.createElementNS('http://www.w3.org/2000/svg','defs');
    //           var txt = document.createElementNS('http://www.w3.org/2000/svg','image');
    //           txt.setAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href', "/amenities/map-marker.png");
    //            if(elem.getAttribute("points"))
    //           {
    //              points = elem.getAttribute("points").split(" ");
    //              txt.setAttribute("x",elem_bounds.x+width);
    //              txt.setAttribute("y",elem_bounds.y+height);
                 
    //           }
    //           else
    //           {
                
    //             txt.setAttribute("x",elem_bounds.x);
    //             txt.setAttribute("y",elem_bounds.y);
    //             transform_val = elem.getAttribute("transform");
    //             if(transform_val)
    //             {
    //               txt.setAttribute("transform",elem.getAttribute("transform"));
    //             }
    //           }
    //           txt.setAttribute("height","50");
    //           txt.setAttribute("width","50");
    //           // def.appendChild(txt)
    //           // svg.appendChild(def);

      //          svg_image.appendChild(txt); 
      // var htmlMarker = new HTMLMarker(parseFloat(suite_array[i][1]), parseFloat(suite_array[i][2]));
      // htmlMarker.setMap(map);
      var myLatLng = {lat: parseFloat(suite_array[i][1]), lng: parseFloat(suite_array[i][2])};

      var marker = new google.maps.Marker({
    position: myLatLng,
    map: map
  });

    }
      



      };

      // The onRemove() method will be called automatically from the API if
      // we ever set the overlay's map property to 'null'.
      USGSOverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      };
</script>
<script>
  function svg_render()
  {
    $.get('/siteman/get_svg_file_for_map', { directory_id: suite_array[0][3], website_id: <%= @website.id %> }, function(data){
        window.svg_string = data;

    }).done(function() 
    {
      initMap(svg_string);
    });
  }
</script>
<script type="text/javascript">
      $(document).ready(function(){
        svg_render();
      });
    </script>



    <% end %>
    <% end %>