			<div class="container-fluid nav-container" id="navbar">
				<div class="container">
					<div class="row">
						<div class="col-10 col-lg-3">
							<a href="/"><img src="/presents/fashion_district/designs/images/logo.png" alt="Fashion District Philadelphia" class="img-fluid"></a>
						</div>
						<div class="col-2 col-lg-9  text-right right-section">
							<div class="top-right">
								<ul class="hidden-xs hidden-sm">
									<a href=""><span class="gray-text">open today</span> <span class="medium">8am to 9pm</span></a>
									<li class="social"><a href=""><span class="fab fa-facebook-square"></span></a><a href=""><span class="fab fa-twitter"></span></a><a href=""><span class="fab fa-instagram"></span></a></li>
								</ul>
							</div>
							<div class="lower-right">
								<ul class="hidden-xs hidden-sm">
									<li><a href="">discover</a></li>
									<li><a href="">shop</a></li>
									<li><a href="">dine</a></li>
									<li><a href="">entertain</a></li>
									<li><a href="">arts</a></li>
									<li><a href="">offers</a></li>
									<li><a href="">events</a></li>
									<li><a href="">visit</a></li>
								</ul>
								<!-- Mobile Nav -->
								<div class="mobi-nav" id="mobi-head">
									<div class="menu-btn-container">
										<div id="top-bar"></div>
										<div id="mid-bar"></div>
										<div id="low-bar"></div>
										<p>menu</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="mobi-menu">
				<div class="mobi-link-container">
					<a href=""><p>discover</p></a>
					<a href=""><p>shop</p></a>
					<a href=""><p>dine</p></a>
					<a href=""><p>entertain</p></a>
					<a href=""><p>arts</p></a>
					<a href=""><p>offers</p></a>
					<a href=""><p>events</p></a>
					<a href=""><p>visit</p></a>
					<a href=""><p>Terms &amp; Conditions</p></a>
					<a href=""><p>Privacy Policy</p></a>
				</div>
			</div>
			<!-- End Mobile Nav -->
			
			<div class="container-fluid sticky-nav-container">
				<div class="nav-container">
					<div class="row">
						<div class="col-3 visible-xs">
							<!-- Mobile Nav -->
							<div class="mobi-nav mobi-head">
								<div class="menu-btn-container">
									<div class="top-bar"></div>
									<div class="mid-bar"></div>
									<div class="low-bar"></div>
									<p>menu</p>
								</div>
							</div>
							<!-- End Mobile Nav -->
						</div>
						<div class="col-8 col-md-4">
							<img src="/presents/fashion_district/designs/images/logo.png" alt="Fashion District Philadelphia" class="sticky-logo">
						</div>
						<div class="col-4 col-md-8 hidden-xs">
							<ul class="main-nav">
								<li><a href="">discover</a></li>
								<li><a href="">shop</a></li>
								<li><a href="">dine</a></li>
								<li><a href="">entertain</a></li>
								<li><a href="">arts</a></li>
								<li><a href="">offers</a></li>
								<li><a href="">events</a></li>
								<li><a href="">visit</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>