<%= render "includes/head" %>
	<%= render "includes/nav" %>
		
			<div class="container-fluid banner-container">
				<img src="/presents/fashion_district/designs/images/banner/hero-banner.jpg" class="hero-banner" alt="Fashion District Philadelphia	">
			</div>
			
			<div class="container seo-container">
				<div class="row">
					<div class="col-12 col-lg-8">
						<div class="small-text gray-text">
							about fashion district philadelphia
						</div>
						<h3>Opening September 2019, Fashion District Philadelphia is the largest premier shopping, dining and entertainment destination in downtown Philadelphia.</h3>
						<p>Offering a unique combination of flagship, traditional full-price, off-price and branded outlet retail, Fashion District Philadelphia will appeal to Philadelphians and tourists alike. Whether you want to shop, dine, play or explore, you can do it all in the District.</p>
						<p><a href="" class="more-link">discover more</a></p>
					</div>
				</div>
			</div>
			
			<div class="container-fluid news-carousel">
				<div class="news owl-carousel">
					<div class="item">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="news-box">
									<img src="/presents/fashion_district/designs/images/news-callout-1.jpg" alt="window shoppers" class="box-img">
								</div>
								<div class="news-box">
									Open New: Century 21, Burlington Stores &amp; Tiffany's Bakery
									<p><a href="" class="more-link">read more</a></p>
								</div>
								<div class="news-box">
									Reimagine the Shopping Experience
									<p><a href="" class="more-link">read more</a></p>
								</div>
								<div class="news-box">
									<img src="/presents/fashion_district/designs/images/news-callout-2.jpg" alt="window shoppers" class="box-img">
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="row">
							<div class="col-12 col-md-6">
								<div class="news-box">
									<img src="/presents/fashion_district/designs/images/news-callout-3.jpg" alt="window shoppers" class="box-img">
								</div>
								<div class="news-box">
									Open New: Century 21, Burlington Stores &amp; Tiffany's Bakery
									<p><a href="" class="more-link">read more</a></p>
								</div>
								<div class="news-box">
									<img src="images/news-callout-3a.jpg" alt="window shoppers" class="box-img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="hp-events-container container-fluid">
				<div class="row">
					<div class="col-12 col-lg-6">
						<h3>Upcoming events</h3>
						<p>Fashionsitas. Foodies. Funseekers. There’s always something to do in the District.</p>
						<a href="">see more events</a>
					</div>
					<div class="col-12 col-lg-6">
						<div class="hp-events owl-carousel">
							<div class="item">
								<img src="/presents/fashion_district/designs/images/hp-events/event-1.jpg">
								<div class="event-desc">
									<p class="date">june 5</p>
									<p>Learn to Cook Authentic Mexican Dishes at Armond's</p>
								</div>
							</div>
							<div class="item">
								<img src="/presents/fashion_district/designs/images/hp-events/event-2.jpg">
								<div class="event-desc">
									<p class="date">june 22</p>
									<p>Summertime Fashion Show at The District</p>
								</div>
							</div>
							<div class="item">
								<img src="/presents/fashion_district/designs/images/hp-events/event-1.jpg">
								<div class="event-desc">
									<p class="date">july 1</p>
									<p>The District's Mid-Summer Arts Festival</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="container-fluid hp-callouts-container">
				<div class="row">
					<div class="col-12 col-md-6 col-lg-4">
						<h6>shop</h6>
						<img src="/presents/fashion_district/designs/images/callouts/callout-1.jpg">
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<img src="/presents/fashion_district/designs/images/callouts/callout-1.jpg">
						<h6>dine</h6>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<h6>entertain</h6>
						<img src="/presents/fashion_district/designs/images/callouts/callout-1.jpg">
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<img src="/presents/fashion_district/designs/images/callouts/callout-1.jpg">
						<h6>arts</h6>
					</div>
				</div>
			</div>
		
		<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
		<script>
			var srWindow = $(window).width();
			var theScale = '';
			if(srWindow > 767){
				theScale = 1;
			}else{
				theScale = 0.85;
			}
			window.sr = ScrollReveal();
			sr.reveal('.vision-box, .location-box', {
				duration: 1000,
				scale: theScale,
			});
		</script>
		
		<%= render "includes/footer" %>
