<%= render "includes/head" %>
	<%= render "includes/nav" %>
	
	<div class="container-fluid sub-hero-container">
		<% if !@webpage.main_img.blank? %>
			<img src="<%= @webpage.main_img.html_safe %>" class="sub-hero-img">
		<% else %>
			<div class="push-content-down"></div>
		<% end %>
	</div>
	
	<div class="container-fluid content-container pull-up">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1 content pad-top-60">
				<a href="/visit" class="back-link"><span class="fas fa-chevron-left"></span> visit</a>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-1 content">
				<div class="row">
					<div class="col-12 col-md-8 siteman-content-1">
						<%= @webpage.content.html_safe %>
					</div>
					<div class="col-12 col-md-4 siteman-content-2">
						<% @webpage.content_2.html_safe %>
					</div>
				</div>
			</div>
		</div>
	</div>
<%= render "includes/footer" %>
