/* ======== Typography ======== */
@font-face {
  font-family: 'Bebas';
  src: url('fonts/BebasNeue-Regular.otf'); /* IE9 Compat Modes */
  src: url('fonts/BebasNeue-Regular.otf?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/BebasNeue-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@bebas: 'Bebas';
@gotham: 'Gotham A', 'Gotham B';

h1, h2, h3, h4, h5, h6{
	font-family: @bebas;
}
.gray-text{
	color: #808184 !important;
}
.small-text{
	font-size: 12px !important;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.medium{
	font-family: @gotham !important;
	font-weight: 500 !important;
	letter-spacing: .1em;
}
.more-link{
	font-size: 12px;
	font-family: @gotham;
	font-weight: 500;
	letter-spacing: .1em;
	text-decoration: underline;
	color: #808184;
	text-transform: uppercase;
	transition: color .25s;
	&:hover{
		color: black;
	}
}

/* ======== Global Settings ======== */
html, body{
	font-family: @gotham;
	font-weight: 400;
	font-size: 20px;
	font-style: normal;
}
.site-wrapper{
	position: relative;
	height: auto;
	width: 100%;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
/* ===== Header Section ===== */
.nav-container{
	position: relative;
	display: block;
	top: 0px;
	width: 100%;
	height: auto;
	transition: all .3s;
	background: white;
	padding: 30px 0px;
	z-index: 9;
	.right-section{
		height: auto;
		width: 100%;
		text-transform: uppercase;
		padding: 0 15px;
		font-size: 16px;
		a{
			font-family: @gotham;
			letter-spacing: .05em;
			font-style: normal;
			@media(max-width:767px){
				color: black;
			}
		}
		.top-right{
			padding: 10px 10px 0px 10px;
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					@media(max-width:767px){
						font-size: 14px;
					}
				}
				a{
					color: black;
				}
				.medium{
					letter-spacing: 0px;
				}
				.social{
					position: relative;
					width: auto;
					height: auto;
					margin-left: 55px;
					a{
						font-size: 18px;
						margin-right: 15px;
						position: relative; 
						text-decoration: none;
						top: 3px;
						color: black;
						@media(max-width:767px){
							top: 0px;
						}
						&:last-child{
							margin-right: 0px;
						}
					}
					&:before{
						content: '';
						position: absolute;
						left: -30px;
						height: 30px;
						width: 1px;
						background: #c7cbd1;
					}
				}
			}
		}
		.lower-right{
			text-align: right;
			text-transform: uppercase;
			padding-top: 35px;
			padding-right: 10px;
			@media(max-width:991px){
				padding-top: 0px;
			}
			a{
				color: black;
				letter-spacing: .05em;
				text-decoration: none;
				transition: all .15s;
				@media(min-width:992px) and (max-width:1380px){
					letter-spacing: .05em;
					font-size: 16px;
				}
				&:hover{
					border-bottom: 5px solid black;
				}
			}
			ul{
				padding: 0px;
				list-style: none;
				li{
					position: relative;
					display: inline-block;
					margin-right: 25px;
					@media(min-width: 1606px){
						margin-right: 55px;
					}
					@media(min-width:992px) and (max-width:1199px){
						margin-right: 15px;
					}
					&:last-child{
						margin-right: 0px;
					}
					&:hover{
						.sub-nav{
							display: block;
						}
					}
				}
			}
			.mobi-nav{
				position: relative;
				width: 100%;
				min-height: 65px;
				background: white;
				text-align: center;
				z-index: 99 !important;
				@media(min-width:992px){
					display: none;
				}
				.menu-btn-container{
					position: absolute;
					height: auto;
					width: auto;
					display: block;
					top: 10px;
					right: 15px;
					z-index: 5 !important;
					p{
						position: absolute;
						color: black;
						text-transform: uppercase;
						right: -10px;
						
					}
					#top-bar{
						position: relative;
						height: 5px;
						width: 30px;
						background: black;
						margin-top: 0px;
					}
					#mid-bar{
						position: relative;
						height: 5px;
						width: 30px;
						background: black;
						margin-top: 5px;
					}
					#low-bar{
						position: relative;
						height: 5px;
						width: 30px;
						background: black;
						margin-top: 5px;
					}
					.hideBar{
						animation: .5s linear forwards alternate hideBar;
					}
					.topDown{
						position: absolute;
						animation: .5s linear forwards alternate topDown;
					}
					.topUp{
						position: absolute;
						animation: .5s linear forwards alternate topUp;
					}
					.lowUp{
						position: absolute;
						animation: .5s linear forwards alternate lowUp;
					}
					.lowDown{
						position: absolute;
						animation: .5s linear forwards alternate lowDown;
					}
					@keyframes topDown{
						0%{
							top: 0px;
							transform: rotate(0deg);
						}
						25%{
							top: 10px;
							transform: rotate(0deg);
						}
						50%{
							top: 10px;
							transform: rotate(0deg);
						}
						75%{
							top: 10px;
							transform: rotate(0deg);
						}
						100%{
							top: 10px;
							transform: rotate(45deg);
						}
					}
					@keyframes lowUp{
						0%{
							top: 0px;
							transform: rotate(0deg);
						}
						25%{
							top: -10px;
							transform: rotate(0deg);
						}
						50%{
							top: -10px;
							transform: rotate(0deg);
						}
						75%{
							top: -10px;
							transform: rotate(0deg);
						}
						100%{
							top: -10px;
							transform: rotate(-45deg);
						}
					}
					@keyframes topUp{
						0%{
							top: 10px;
							transform: rotate(45deg);
						}
						25%{
							top: 10px;
							transform: rotate(0deg);
						}
						50%{
							top: 10px;
							transform: rotate(0deg);
						}
						75%{
							top: 10px;
							transform: rotate(0deg);
						}
						100%{
							top: 0px;
							transform: rotate(0deg);
						}
					}
					@keyframes lowDown{
						0%{
							top: -10px;
							transform: rotate(-45deg);
						}
						25%{
							top: -10px;
							transform: rotate(0deg);
						}
						50%{
							top: -10px;
							transform: rotate(0deg);
						}
						75%{
							top: -10px;
							transform: rotate(0deg);
						}
						100%{
							top: 0px;
							transform: rotate(0deg);
						}
					}
					@keyframes hideBar{
						0%{
							visibility: visible;
						}
						25%{
							visibility: visible;
						}
						50%{
							visibility: visible;
						}
						75%{
							visibility: hidden;
						}
						100%{
							visibility: hidden;
						}
					}
				}
			}
		}
	}
	
}

.nav-up{
	position: fixed;
	animation: navUp .35s ease-in-out forwards;
}
@keyframes navUp {
	0% {top: 0px;}
	100%{top: -80px;}
}
.nav-down{
	position: fixed;
	animation: navDown .35s ease-in-out forwards;
}
@keyframes navDown {
	0% {top: -80px;}
	100%{top: 0px;}
}
.sticky-nav-container{
	position: fixed;
	top: -80px;
	left: 0px;
	width: 100%;
	height: 75px;
	background-color: rgba(255,255,255,.9);
	z-index: 9;
	@media(max-width:767px){
		height: 80px;
	}
	.nav-container{
		padding: 10px 15px;
		background: none;
		@media(max-width:767px){
			padding: 20px 15px;
		}
		.sticky-logo{
			position: relative;
			width: auto;
			height: 50px;
		}
		ul{
			padding: 12px 0px;
			list-style: none;
			text-align: right;
			li{
				display: inline-block;
				margin-right: 60px;
				text-transform: uppercase;
				@media(min-width:992px) and (max-width:1199px){
					margin-right: 40px;
					&:last-child{
						margin-right: 0px;
					}
				}
				@media(min-width:768px) and (max-width:991px){
					margin-right: 20px;
					&:last-child{
						margin-right: 0px;
					}
				}
			}
			a{
				color: black;
				text-decoration: none;
				transition: all .15s;
				&:hover{
					border-bottom: 5px solid black;
				}
			}
		}
	}
}

.mobi-menu{
	position: absolute;
	top: 0px;
	left: 0px;
	height: auto;
	width: 100vw;
	background: white;
	z-index: 98 !important;
	text-align: center;
	padding-top: 10px;
	display: none;
	overflow: auto;
	border-top: 1px solid black;
	.mobi-link-container{
		position: relative;
		height: auto;
		padding-bottom: 0px;
		padding-top: 10px;
		&:after{
			content: '';
			position: relative;
			height: 50px;
			width: 100px;
		}
		p{

			padding-bottom: 25px;
			padding-top: 5px;
			margin-top: 0px;
			line-height: 0px;
		}
	}
	a{
		letter-spacing: .05em;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
	}
}

.banner-container{
	padding: 0px;
	.hero-banner{
		position: relative;
		height: auto;
		width: 100vw;
	}
}

.seo-container{
	padding-top: 75px;
	padding-bottom: 75px;
	background: white;
}

.news-carousel{
	padding-top: 75px;
	padding-bottom: 75px;
	background: #f5f7fa;
	.news{
		position: relative;
		display: block;
		width: 90%;
		margin: 0 auto;
		.news-box{
			position: relative;
			width: 50%;
			height: 50%;
			float: left;
			background: white;
			.box-img{
				position: relative;
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
	}
}
/* ===== Bootstrap Changes ===== */
.container{
	@media(min-width: 1350px) and (max-width:1499px){
		max-width: 1300px;
	} 
	@media(min-width:1500px) and (max-width:1650px){
		max-width: 1450px;
	}
	@media(min-width: 1651px) and (max-width: 1799px){
		max-width: 1601px;
	}
	@media(min-width:1800px){
		max-width: 1750px;
	}
}
.hidden-xs{
	@media(max-width:767px){
		display: none;
	}
}
.hidden-sm{
	@media(min-width:768px) and (max-width:991px){
		display: none;
	}
}
.visible-xs{
	@media(min-width:768px){
		display: none;
	}
}